@use './mixins' as *;

.bg-gradient {
  &--moonraker-remy {
    @include bg-gradient(--color-moon-raker, --color-remy);
  }

  &--selago-wisppink {
    @include bg-gradient(--color-selago, --color-wisp-pink);
  }

  &--purple-brinkpink {
    @include bg-gradient(--color-purple-01, --color-brink-pink);
  }
}

.text-gradient {
  background: linear-gradient(90deg, var(--color-purple-01), var(--color-brink-pink));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
